<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Category</title>
	</head>
	<body>
		<div class="header-wrapper container">
			<div class="heading-wrapper">
				<a class="btn-primary header-link" href="/">Clear filters</a>
				<a class="btn-primary header-link" href="/additem">Add new item</a>
				<a class="btn-primary header-link" href="/addmanufacturer">Add new manufacturer</a>
				<a class="btn-primary header-link" href="/addcategory">Add product category</a>
				<h1>Category: <%= catName %></h1>	
			</div>
		</div>
		<div class="body-wrapper">
			<div class="sidebar">
				<h3>Product Categories</h3>
				<% categories.forEach(category => { %>
				<div class="cat-card">
					<p><%= category.cat_name %></p>
					<div>
						<a href="/cat/<%= category.id%>">Show related parts</a>
					</div>
				</div>
				<% }); %>
				<div class="manufacturer-list">
					<h3>Manufacturers</h3>
					<% manufacturers.forEach(manufacturer => { %>
					<div class="manufacturer-card">
						<p><%= manufacturer.manufacturer_name %></p>
						<a href="/manufacturer/<%= manufacturer.manufacturer_id %>"
							>Show <%= manufacturer.manufacturer_name %> parts</a
						>
					</div>
					<% }); %>
				</div>
			</div>
			<div class="main-wrapper">
				<%- include("partials/errors.ejs") %>
				<div class="button-wrapper">
					<h2>All <%= catName %></h2>
					<button class="btn-delete" id="deletebtn">Delete Category</button>
				</div>
				<div class="cards-wrapper">
				<% items.forEach(item => { %>
				<div class="item-card">
					<img src="<%= item.item_image %>" alt="" />
					<a href="/item/<%= item.id %>"><h3><%= item.item_name %></h3></a>
					<p>Stock Level:<%= item.item_quantity %></p>
					<p>For <%= item.manufacturer_name %> models</p>
				</div>
				<% }); %>
			</div>
		</div>
		<dialog id="delete-dialog">
			<h3>Enter Password to delete category</h3>
			<form id="delete-form" action="/deletecat/<%= catId %>" method="POST">
				<label for="password">
					Enter password
					<input id="password" name="password" type="password" />
				</label>
				<button type="submit">Submit</button>
				<button id="closebtn">Close Modal</button>
			</form>
		</dialog>
		<script src="/index.js">
		</script>
	</body>
</html>
