<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/styles.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory Homepage</title>
	</head>
	<body>
		<div class="header-wrapper container">
			<div class="heading-wrapper">
				<h1>Home</h1>
				<%- include("partials/errors.ejs") %>
				<div class="button-wrapper">
				<a class="btn-primary header-link" href="/">Clear filters</a>
				<a class="btn-primary header-link" href="/additem">Add new item</a>
				<a class="btn-primary header-link" href="/addmanufacturer">Add new manufacturer</a>
				<a class="btn-primary header-link" href="/addcategory">Add product category</a>
			</div>
			</div>
		</div>
		<div class="body-wrapper">
			<div class="sidebar">
				<h3>Product Categories</h3>
				<% categories.forEach(category => { %>
				<div class="cat-card">
					<p><%= category.cat_name %></p>
					<div>
						<a class="btn-primary" href="/cat/<%= category.id%>">Show parts</a>
					</div>
				</div>
				<% }); %>
				<div class="manufacturer-list">
					<h3>Manufacturers</h3>
					<% manufacturers.forEach(manufacturer => { %>
					<div class="manufacturer-card">
						<p><%= manufacturer.manufacturer_name %></p>
						<a class="btn-primary" href="/manufacturer/<%= manufacturer.manufacturer_id %>"
							>Show <%= manufacturer.manufacturer_name %> parts</a
						>
					</div>
					<% }); %>
				</div>
			</div>
			<div class="main-wrapper">
				<div class="main-header">
					<h2>All Parts</h2>
				</div>
				<div class="cards-wrapper">
				<% items.forEach(item => { %>
				<div class="item-card">
					<div class="card-image-wrapper">
					<img src="<%= item.item_image %>" alt="" />
				</div>
					<div class="card-body">
					<a href="/item/<%= item.id %>"><h3><%= item.item_name %></h3></a>
					<p>Stock Level:<%= item.item_quantity %></p>
					<p>For <%= item.manufacturer_name %> models</p>
				</div>
				</div>
				<% }); %>
			</div>
		</div>
	</body>
</html>
