<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory Homepage</title>
	</head>
	<body>
		<div class="header-wrapper container">
			<div class="heading-wrapper">
				<h1>This is the Homepage</h1>
				<a href="/">Clear filters</a>
				<a href="/additem">Add new item</a>
				<a href="/addmanufacturer">Add new manufacturer</a>
				<a href="/addcategory">Add product category</a>
			</div>
		</div>
		<div class="body-wrapper">
			<div class="sidebar">
				<% categories.forEach(category => { %>
				<div class="cat-card">
					<p><%= category.cat_name %></p>
					<a href="/cat/<%= category.id%>">Show related parts</a>
				</div>
				<% }); %>
				<div class="manufacturer-list">
					<% manufacturers.forEach(manufacturer => { %>
					<div class="manufacturer-card">
						<p><%= manufacturer.manufacturer_name %></p>
						<a href="/manufacturer/<%= manufacturer.manufacturer_id %>"
							>Show <%= manufacturer.manufacturer_name %> parts</a
						>
					</div>
					<% }); %>
				</div>
			</div>
			<div class="main-wrapper">
				<% items.forEach(item => { %>
				<div class="item-card">
					<img src="<%= item.item_image %>" alt="" />
					<a href="/item/<%= item.id %>"><h3><%= item.item_name %></h3></a>
					<p>Stock Level:<%= item.item_quantity %></p>
					<p>For <%= item.manufacturer_name %> models</p>
				</div>
				<% }); %>
			</div>
		</div>
	</body>
</html>
